<div class="article-table">
  <h3 class="article-table__header">Добавление/удаление/редактирование статей по разделам</h3>
  <ul class="article-table__nav-list">
    <li class="article-table__nav-item" *ngFor="let topic of topics">
      <button mat-raised-button [color]="topic.includes('Еще')? 'basic' : 'primary'" class="article-table__nav-item"
        (click)="clickTopic(topic)"
        [class]="currentTopic === topic? 'article-table__nav-item--active' : ''">{{topic}}</button>
    </li>
  </ul>
  <div class="article-table__top-bar">
    <a mat-raised-button color="primary" class="article-table__add-article" routerLink="/admin/create">Написать статью</a>
  </div>
  <app-articles-table></app-articles-table>
</div>
