.header {
  background: linear-gradient(to right, #e66465, #9198e5);
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  margin: 0 auto;

  
  .header__nav {
    display: flex;
    // justify-content: space-around;
    max-width: 500px;
    margin: 0 auto;
    align-items: center;
    width: 100%;

    app-search {
      width: 100%;
    }
  }

  .header__link {
    color: rgb(250, 250, 250);
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }

}

