.header {
  background: linear-gradient(to right, #e66465, #9198e5);
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.header__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.header__link {
  color: rgb(250, 250, 250);
  width: 24px;
  height: 24px;
}

.header__form {
  width: 80%;
  position: relative;
}

.header__search {
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  height: 30px;
}

.header__btn-search {
  position: absolute;
  top: 3px;
  right: 3px;
}
