.header {
  background: linear-gradient(90deg, #c24eb6, #8d4686, #680f69);

  width: 100%;
  height: 60px;

  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 10px;
  box-sizing: border-box;

  text-align: center;
  vertical-align: middle;

  z-index: 1;

  @media (min-width: 1440px) {
    height: 80px;
  }
}

.header__text {
  display: inline-block;

  font-family: 'Rajdhani', sans-serif;
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;

  z-index: 2;

  @media (max-width: 890px) {
    font-size: 40px;
  }
  @media (max-width: 560px) {
    margin-left: 0;
    font-size: 30px;
  }
  @media (max-width: 500px) {
    display: none;
  }
}

.header__nav {
  width: 70%;

  z-index: 1;
}

.header__link {
  color: rgb(250, 250, 250);
  width: 24px;
  height: 24px;
}

.header__form {
  width: 80%;
  position: relative;
  z-index: 2;
}

.header__search {
  width: 70%;
}
