<h2 class="main-title" *ngIf="board">{{board.title}}</h2>
<div class="board" cdkDropListGroup>

  <div class="board__column" *ngFor="let column of board.columns">

    <div class="example-toDo-header">
      <h3 *ngIf="!changer" (dblclick)="[changer = !changer, columnId = column.id]">{{column.title}}</h3>
      <mat-form-field *ngIf="changer && column.id === columnId" appearance="fill">
        <mat-label>Введите новое название</mat-label>
        <input matInput type="text" value={{column.title}} (keydown.enter)="changeName($event, column.id)">
      </mat-form-field>
     <button mat-button mat-raised-button *ngIf="changer && column.id === columnId" (click)="deleteColumn(column.id)">Delete</button>
    </div>

    <div *ngIf="column.tasks" cdkDropList [cdkDropListData]="column.tasks" class="example-list"
      (cdkDropListDropped)="drop($event, column.id)">
      <div class="example-box" *ngFor="let task of column.tasks" cdkDrag routerLink={{task}}
        (mousedown)="taskId = task.id">
        {{task.title}}
      </div>
    </div>

    <div class="example-box">
      <button class="task-list__create-button" (click)="[isHidden = !isHidden, columnId = column.id]">
        <mat-icon>add_circle_outline</mat-icon>
        Создать новую задачу
      </button>
    </div>

    <!-- Форма создания новой таски на самой доске -->
    <form class="example-form" [formGroup]="form" *ngIf="isHidden && column.id === columnId"
      (ngSubmit)="addToDo(column.id)">
      <mat-form-field appearance="fill">
        <mat-label>Заголовок задачи</mat-label>
        <input matInput type="text" formControlName="title">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Статус</mat-label>
        <mat-select>
          <mat-option *ngFor="let option of status" [value]="option" formControlName="status">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Приоритет</mat-label>
        <mat-select>
          <mat-option *ngFor="let option of priority" [value]="option" formControlName="priority">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button class="example-createToDo" type="submit" [disabled]="form.invalid">Создать</button>
    </form>

  </div>

  <div class="board__new-column">
    <button *ngIf="!isHiddenColumn" mat-raised-button color="primary" (click)="isHiddenColumn = !isHiddenColumn">
      <mat-icon>add_circle_outline</mat-icon>
      Добавить колонку
    </button>
    <form [formGroup]="formColumns" (ngSubmit)="addColumn()" *ngIf="isHiddenColumn">
      <mat-form-field appearance="fill">
        <mat-label>Название колонки</mat-label>
        <input matInput type="text" formControlName="columnName">
      </mat-form-field>
      <button mat-raised-button color="primary" class="example-createToDo" type="submit"
        [disabled]="formColumns.invalid">Создать</button>
    </form>
  </div>
</div>
<router-outlet></router-outlet>
