<h2 class="main-title">Доска задач</h2>
<div class="main__board" cdkDropListGroup>

  <div class="example-container" *ngFor="let column of list">

    <div class="example-toDo-header">
      <h2 *ngIf="!changer" (dblclick)="changer = !changer">{{column.name}}</h2>
      <mat-form-field *ngIf="changer" appearance="fill">
        <input matInput type="text" value={{column.name}} (keydown.enter)="changeName($event, column.name)">
      </mat-form-field>
    </div>
    
    <div
      cdkDropList
      [cdkDropListData]="column.tasks"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let item of column.tasks" cdkDrag routerLink={{item}}>
        <div>{{ item }}</div>
      </div>
    </div>

    <div class="example-button">
      <button *ngIf="isHidden === false" (click)="isHidden = !isHidden">+</button>
    </div>

    <form [formGroup]="form" *ngIf="isHidden" (ngSubmit)="addToDo()">
      <mat-form-field appearance="fill">
        <mat-label>Task name</mat-label>
        <input matInput type="text" formControlName="toDoName">
      </mat-form-field>
      <button mat-raised-button class="example-createToDo" type="submit" [disabled]="form.invalid">Create</button>
    </form>
  </div>

  <div>
    <div class="example-newList">
      <button (click)="isHiddenColumn = !isHiddenColumn">+</button>
      <p>Добавить колонку</p>
    </div>

    <form [formGroup]="formColumns" (ngSubmit)="addColumn()" *ngIf="isHiddenColumn">
      <mat-form-field appearance="fill">
        <mat-label>Column name</mat-label>
        <input matInput type="text" formControlName="columnName">
      </mat-form-field>
      <button mat-raised-button class="example-createToDo" type="submit" [disabled]="formColumns.invalid">Create</button>
    </form>
  </div>
</div>
<router-outlet></router-outlet>
