.main-title {
  text-align: center;
}

.main__board {
  width: 100%;
  overflow-x: auto;
  margin: 0 auto;
  display: flex;
  gap: 30px;
}

.example-container {
  min-width: 300px;
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  margin-bottom: 20px;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: space-between;
  box-sizing: border-box;
  cursor: pointer;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-toDo-header {
  display: flex;
}

.example-createToDo {
  margin-left: 10px;
  font-size: 20px;
}

.example-newList {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 15px;

  button {
    padding: 10px;
    margin-right: 20px;
    border: none;
    background: none;
    color: white;
    font-weight: 200;
    font-size: 20px;
  }

  button:hover {
    font-size: 26px;
    font-weight: 400;
    color: aquamarine;
  }

  p {
    margin: 0;
  }
}

mat-form-field {
  margin: 5px 0;
  border: 1px gray; 
  border-style: double;
  border-radius: 10px;
}

.example-button {
  button {
    margin-right: 20px;
    border: none;
    background: none;
    color: white;
  }
}

.example-button:hover {
  button {
    display: block;
    font-size: 26px;
    font-weight: 400;
    color: black;
  }
}