.board__header {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.board__task-header {
  margin: 6px 0;
  line-height: 26px;
}

.board {
  width: 100%;
  overflow-x: auto;
  margin: 0 auto;
  display: flex;
  gap: 30px;
}

.board__column {
  min-width: 300px;
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
}

.board__task-list {
  margin: 0;
  padding: 0;
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.board__task {
  max-width: 300px;
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  background: white;
  font-size: 20px;

  &-header {
    width: -webkit-fill-available;
  }
  &-delete {
    display: none;
    color: #673ab7;
  }

  &:hover > .board__task-delete {
    display: inline;
  }

  p{
    margin: 0;
  }

  &--new {
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;

    p {
      margin: 0;
    }

    &:hover {
      border: 1px solid rgba(0, 0, 0, 0.12)
    }
    cursor: auto;
  }

}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.board__top-wrapper {

  mat-form-field {
    width: 100%;
  }
}

.board__column-header {
  font-size: 20px;
  font-weight: 700;
}


.board__new-column-form {
  margin-left: 10px;
  font-size: 20px;
}

.board__new-column {
  width: 300px;

  mat-form-field {
    width: 100%;
  }
}

mat-form-field {
  margin: 5px 0;
}

.board__task-create {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;

  mat-icon {
    vertical-align: middle;
    line-height: normal;
  }
}

.board__task-create:hover,
.board__task-create:hover mat-icon {
  font-weight: 700;
  color: black;
}

.board__new-task {
  display: flex;
  flex-direction: column;
}
