.header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 1;

  @media (min-width: 1440px) {
    height: 80px;
  }
}

.main {
  padding: 0 10px;
  width: 100%;

  @media (min-width: 768px) {
    padding: 0 20px;
  }

  @media (min-width: 1440px) {
    margin: 0 auto;
  }
}

.task-manager__link {
  
}
