<section class="article" *ngFor="let article of articles">
    <header class="article__header">
        <h1 name="title">{{article.title}}</h1>
        <h2 name="category">Категория: {{article.category}}</h2>
        <div class="article__header__dates">
            <p><b>Дата создания:</b> {{article.dateCreate}}</p>
            <p><b>Дата обновления:</b> {{article.dateUpdate}}</p>
        </div>
        <div class="article__header__team">
            <div class="article__header__team__authors">
                <ul>
                    <h3>Создатели</h3>
                    <li *ngFor="let author of article.authors">{{author}}</li>
                </ul>
            </div>
            <div class="article__header__team__respondents">
                <ul>
                    <h3>Респонденты</h3>
                    <li *ngFor="let respondent of article.respondents">{{respondent}}</li>
                </ul>
            </div>
        </div>
    </header>
    <hr>
    <main class="article__main">
        <h3>Описание</h3>
        <p>{{article.content.text}}</p>
    </main>
</section>
