h1, h2, h3, p {
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 1028px;
}

.article {
    width: 100%;
    padding: 0 20px 40px;
    
    hr {
        margin: 20px 0;
    }

    &__header {
        text-align: start;

        h1 {
            margin: 20px 0 20px;
            font-size: 28px;
            line-height: 1.1071428571;
            font-weight: 600;
            letter-spacing: -.015em;
        }

        h2 {
            margin-bottom: 40px;
            font-size: 26px;
            font-weight: 600;
        }

        &__dates {
            display: flex;
            flex-direction: column;
            justify-content: start;
            font-size: 16px;
            line-height: 1.3125;
            font-weight: 400;
            letter-spacing: 0;
            margin-bottom: 60px;
        }
    }

    &__main {
        h3 {
            margin: 0;
            text-align: start;
        }

        &__description {
            margin: 10px 0 40px;
        }
    }
}

.article__header__team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    h3 {
        margin-bottom: 10px;
    }

    ul {
        padding: 0;
        list-style: none;
    }
}   