.container {
    margin: 0 auto;
    max-width: 1028px;
}

.article {
    width: 100%;
    padding: 0 20px 40px;

    &__header {
        text-align: start;
        padding: 20px 0 10px;
        border-bottom: 1px solid grey;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
    }

    &__title {
      margin: 0 0 20px;
      font-size: 28px;
      line-height: 1.1071428571;
      font-weight: 600;
      letter-spacing: -.015em;
      order: 2;

      @media (max-width: 768px) {
        font-size: 24px;
      }
    }

    &__category {
      margin-bottom: 20px;
      font-size: 22px;

      @media (max-width: 768px) {
        font-size: 20px;
      }
    }

    &__date {
      font-style: italic;
    }

    &__main {
      padding: 20px 0;

        &-description {
            margin: 10px 0 0;
        }
    }

    &__main-title {
      margin: 0;
      text-align: start;
      font-weight: bold;
      font-size: 20px;

      @media (max-width: 768px) {
        font-size: 18px;
      }
    }

    &__lists {
      display: flex;
      flex-direction: column;
    }

    &__list {
      padding: 0;
      list-style: none;
      margin: 0;
      margin-bottom: 15px;
    }

    &__list-title {
      margin-bottom: 5px;
      font-weight: bold;
      font-size: 18px;

      @media (max-width: 768px) {
        font-size: 16px;
      }
    }
}

