<section>
  <div class="container">

    <div class="article" *ngIf="article$ | async as article; else loading">
      <header class="article__header">
        <h1 name="title">{{ article.title }}</h1>
        <h2 name="category">Категория: {{ article.category }}</h2>
        <div class="article__header__dates">
          <!-- <p>
            Cоздано:
            {{ article.dateCreate | date: "dd/MM/yyyy HH:mm" }}
          </p> -->
          <p>
            Последнее обновление
            {{ article.dateUpdate | date: "d MMMM y - HH:mm": '+2': 'ru' }}
          </p>
        </div>
      </header>

      <main class="article__main">
        <h3>Описание</h3>
        <p class="article__main__description" [innerHtml]="article.content"></p>
      </main>

      <div class="article__header__team">
        <div class="article__header__team__authors">
          <ul>
            <h3>Создатели</h3>
            <li *ngFor="let author of article.authors">
              {{ author }}
            </li>
          </ul>
        </div>
        <div class="article__header__team__respondents">
          <ul>
            <h3>Отдел</h3>
            <li *ngFor="let respondent of article.respondents">
              {{ respondent }}
            </li>
          </ul>
        </div>
      </div>

    </div>
    <ng-template #loading> Loading </ng-template>

  </div>
</section>