<p *ngIf="!articles.length" class="article-table__no-articles">Статей в данной категории нет в базе знаний</p>
<div class="article-table__wrapper" *ngIf ="articles.length">
  <form class="article-table__search-wrapper">
    <input class="article-table__search" type="text" placeholder="Найти..." formControl="search">
    <input class="article-table__search-tags" type="text" placeholder="Теги..." formControl="tagInput" [value]="tagInput.value">
  </form>

  <table class="article-table">
    <thead>
      <tr class="article-table__header article-table__row">
        <th class="article__no article-table__header-cell">№</th>
        <th class="article__name article-table__header-cell--clickable" (click)="sortByFlag('header')">Заголовок</th>
        <th class="article__tags article-table__header-cell">Теги</th>
        <th class="article__id article-table__header-cell--clickable" (click)="sortByFlag('respondents')">Отдел</th>
        <th class="article__teamlead article-table__header-cell--clickable" (click)="sortByFlag('authors')">
          Авторы</th>
        <th class="article__actions article-table__header-cell">Действия</th>
      </tr>
    </thead>
    <tr class="article-table__item article article-table__row"
      *ngFor="let article of currentPageArticles; let i = index">
      <td class="article__no"><span class="article__cell-name">№</span>{{i+1}}</td>
      <td class="article__name"><span class="article__cell-name">Заголовок</span>{{article.title}}</td>
      <td class="article__tags"><span class="article__cell-name">Теги</span>
        <ul class="article__tags-list">
          <li class="article__tags-item filter-tag" [class]="filterTags.includes(tag)? 'filter-tag--active': ''"
          *ngFor="let tag of article.tags">{{tag}}</li>
        </ul>
      </td>
      <td class="article__id"><span class="article__cell-name">Отдел</span>{{article.respondents}}</td>
      <td class="article__teamlead"><span class="article__cell-name">Авторы</span>
        <p class="filter-tag" *ngFor = "let lead of article.authors" [class]="filterTags.includes(lead)? 'filter-tag--active': ''">{{lead}}</p>
      </td>
      <td class="article__actions">
        <ul class="article__actions-list">
          <span class="article__cell-name"></span>
          <li class="article__action">
            <mat-icon title="Редaктировать" routerLink="/admin/edit/{{article._id!}}">edit</mat-icon>
          </li>
          <li class="article__action">
            <mat-icon title="Удалить" (click)="deleteArticle(article._id!)">delete</mat-icon>
          </li>
          <li class="article__action">
            <input type="checkbox" [id]="'check'+article._id" class="article__action-check">
            <label [for]="'check'+article._id">
              <mat-icon title="Отметить" *ngIf="!checkedArticles.includes(article._id!)"
                (click)="checkArticle(article._id!)">check_box_outline_blank</mat-icon>
              <mat-icon title="Отметить" *ngIf="checkedArticles.includes(article._id!)"
                (click)="checkArticle(article._id!)">check_box</mat-icon>
            </label>
          </li>
        </ul>
      </td>

    </tr>
  </table>
  <button *ngIf ="checkedArticles.length" mat-raised-button color="primary" class="article-table__delete-checked" (click)="deleteCheckedArticles()">Удалить выбранное</button>
  <ul class="article-table__pagination-list" #pagination>
    <li class="article-table__pagination-item" *ngFor="let page of pages">
      <button color="primary" mat-raised-button class="article-table__pagination-link" (click)="pageClick(page)"
        [class]="currentPage === page? 'article-table__pagination-link--active' : ''">{{page}}</button>
    </li>
  </ul>
</div>
