<main class='main'>
  <h2 class='main__title'>Частые вопросы</h2>
  <ul class='articles'>
    <li class='articles__item'>
      <h3 class='article__title'>Тема статьи</h3>
      <p class='article__description'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti perferendis enim eum tempora et architecto recusandae, deserunt optio eius aspernatur culpa ipsa, unde quam voluptates veniam nihil iste placeat quisquam!</p>
    </li>
    <li class='articles__item'>
      <h3 class='article__title'>Тема статьи</h3>
      <p class='article__description'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti perferendis enim eum tempora et architecto recusandae, deserunt optio eius aspernatur culpa ipsa, unde quam voluptates veniam nihil iste placeat quisquam!</p>
    </li>
    <li class='articles__item'>
      <h3 class='article__title'>Тема статьи</h3>
      <p class='article__description'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti perferendis enim eum tempora et architecto recusandae, deserunt optio eius aspernatur culpa ipsa, unde quam voluptates veniam nihil iste placeat quisquam!</p>
    </li>
  </ul>
</main>
