<main class="main">
  <h2 class="main__title visually-hidden">Частые вопросы</h2>
  <!-- <app-article></app-article> -->
  <ul class="articles">
    <li
      class="articles__item"
      *ngFor="let article of articles; let i = index"
      (click)="openArticle(i)"
    >
      <a class="articles__item-link">
        <h3 class="articles__item-title">{{ article.title }}</h3>
        <p class="articles__item-date">
          Последнее обновление:
          {{ article.dateUpdate | date: "dd/MM/yyyy" }}
        </p>
        <p class="articles__item-description">{{ article.description }}</p>
      </a>
    </li>
    <p class="articles__no-articles" *ngIf="articles.length < 1">
      К сожалению нет подходящих статей
    </p>
  </ul>
</main>
