<main class="main">
  <div class="intro">
    <h2 class="main__title">Все решения в одном месте</h2>
    <p class="intro__description">
      Здесь собраны все статьи о проблемах с которыми вы можете столкнуться и
      пути их решения
    </p>
    <app-search class="intro__search"></app-search>
    <p class="intro__articles">
      Найдено {{ articles.length }} статей
    </p>
  </div>

  <ul class="articles">
    <li
      class="articles__item"
      *ngFor="let article of currentPageArticles; let i = index"
      (click)="openArticle(article._id!)"
    >
      <a class="articles__item-link">
        <h3 class="articles__item-title">{{ article.title }}</h3>
        <p class="articles__item-date">
          Последнее обновление:
          {{ article.dateUpdate | date: "dd/MM/yyyy" }}
        </p>
        <p class="articles__item-description">{{ article.description }}</p>
      </a>
    </li>
    <p class="articles__no-articles" *ngIf="articles.length < 1">
      К сожалению нет подходящих статей
    </p>
  </ul>
  <ul class="articles__pagination-list">
    <li class="articles__pagination-item" *ngFor="let page of pages">
      <button
        color="primary"
        mat-raised-button
        class="articles__pagination-link"
        (click)="pageClick(page)"
        [class]="
          currentPage === page ? 'articles__pagination-link--active' : ''
        "
      >
        {{ page }}
      </button>
    </li>
  </ul>
</main>
