.hamburger-sidebar{
  display: flex;
}

#sidebar__toggle {
  opacity: 0;
  position: absolute;
}
.sidebar__btn {
  display: flex;
  align-items: center;
  position: relative;
  width: 35px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

// Крестик
.sidebar__btn > span,
.sidebar__btn > span::before,
.sidebar__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
}
.sidebar__btn > span::before {
  content: '';
  top: -8px;
}
.sidebar__btn > span::after {
  content: '';
  top: 8px;
}

// Контейнер
.sidebar__box {
  display: block;
  position: fixed;
  visibility: hidden;

  box-sizing: border-box;

  top: 0;
  right: -100%;

  width: 40%;
  height: 100vh;

  margin: 0 auto;
  padding: 80px 40px 0;

  list-style: none;
  text-align: center;

  background: linear-gradient(90deg, #902c8c,#680f69);
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .3);

  @media (max-width: 1024px) {
    width: 50%;
  }
  @media (max-width: 745px) {
    width: 70%;
  }
  @media (max-width: 600px) {
    width: 100%;
  }
}

.header__line-sidebar {
  display: block;
  position: fixed;
  visibility: hidden;

  top: 0;
  right: -100%;

  width: 100vw;
  height: 60px;

  margin: 0;
  z-index: 2;

  background: linear-gradient(90deg, #c24eb6, #8d4686, #680f69);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

  @media (min-width: 1440px) {
    height: 80px;
  }
}

.header__opacity-sidebar {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: none;

  @media (max-width: 600px) {
    width: 0;
  }

  @media (min-width: 1440px) {
    top: 80px;
  }
}

.header__active-opacity-sidebar {
  opacity: 1;
  display: block;
}

// Элементы
.sidebar__item {
  display: block;
  padding: 22px 24px;
  color: rgb(255, 255, 255);

  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 30px;

  text-decoration: none;
  cursor: pointer;

  @media (max-width: 1024px) {
    font-size: 24px;
    line-height: 28px;
  }
  @media (max-width: 745px) {
    font-size: 20px;
    line-height: 24px;

    padding: 18px 20px;
  }
}
.sidebar__item:hover {
  background-color: rgba(180, 180, 180, .5);
}

.sidebar__more__info {
  border-top: 1px solid #a45ba2;
}

.sidebar__link_person {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}

// Открытие / закрытие
#sidebar__toggle:checked ~ .sidebar__btn > span {
  transform: rotate(45deg);
}
#sidebar__toggle:checked ~ .sidebar__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#sidebar__toggle:checked ~ .sidebar__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

// #sidebar__toggle:checked ~ * .header__opacity-sidebar {
//   visibility: visible;
//   opacity: 1;
// }
#sidebar__toggle:checked ~ .header__line-sidebar,
#sidebar__toggle:checked ~ * .header__line-sidebar {
  visibility: visible;
  right: 0;
}
#sidebar__toggle:checked ~ .sidebar__box,
#sidebar__toggle:checked ~ * .sidebar__box {
  visibility: visible;
  right: 0;
}

// Анимация
.sidebar__btn > span,
.sidebar__btn > span::before,
.sidebar__btn > span::after {
  transition-duration: .4s;
}
.sidebar__box {
  transition-duration: .4s;
}
.header__line-sidebar{
  transition-duration: .4s;
}
// .header__opacity-sidebar{
//   transition-duration: .4s;
// }
.sidebar__item {
  transition-duration: .4s;
}
