<div class="hamburger-sidebar">

  <input id="sidebar__toggle" type="checkbox" />
  <label class="sidebar__btn" for="sidebar__toggle" (click)="toggleOpacityToMain()">
      <span></span>
  </label>

  <label for="sidebar__toggle" (click)="toggleOpacityToMain()">
    <div class="header__opacity-sidebar" [ngClass]="{'header__active-opacity-sidebar' : toggleOpacitySidebar}"></div>
  </label>

  <ul class="sidebar__box">
      <div class="header__line-sidebar"></div>

      <li><a class="sidebar__item" routerLink="">Главная</a></li>
      <li><a class="sidebar__item">Склад</a></li>
      <li><a class="sidebar__item">Пункты выдачи</a></li>
      <li><a class="sidebar__item">Клиентская сторона</a></li>
      <li><a class="sidebar__item">Серверная сторона</a></li>
      <li><a class="sidebar__item">Логистика</a></li>

      <section class="sidebar__more__info">
          <li><a class="sidebar__item">
              <mat-icon>perm_identity</mat-icon>
              Личный кабинет
            </a>
          </li>

          <li>
            <a class="sidebar__item" routerLink="/admin">
              <mat-icon>https</mat-icon>
              Кабинет администратора
            </a>
          </li>
      </section>
  </ul>

</div>
