<aside class='sidebar'>
  <h3 class='visually-hidden'>
    Панель навигации
  </h3>
  <mat-icon class='sidebar__close'>close</mat-icon>
  <nav class='sidebar__nav'>
    <a class='sidebar__link' href=''>Главная</a>
    <a class='sidebar__link' href="">Склад</a>
    <a class='sidebar__link' href="">Пункты выдачи</a>
    <a class='sidebar__link' href="">Клиентская сторона</a>
    <a class='sidebar__link' href="">Серверная сторона</a>
    <a class='sidebar__link' href="">Логистика</a>
    <a class='sidebar__link sidebar__link_person'>
      <mat-icon>perm_identity</mat-icon>
      Личный кабинет
    </a>
  </nav>
</aside>
