
.search__form {
	width: calc(100% - 36px);
	position: relative;

	.search__form_input {
		width: 100%;
		padding: 0 10px;
		box-sizing: border-box;
		border-radius: 10px;
		border: none;
		height: 40px;
	}

	.search__form_btn {
		position: absolute;
		height: 40px;
		width: 40px;
		padding: 5px 5px 0 5px;
		border-radius: 0 10px 10px 0;
		font-size: 30px;
		transition: 0.2s;
		cursor: pointer;

		&.search-btn {
			right: 0px;

			@media (max-width: 650px) {
				display: none;
			}
		}

		&.filter-btn {
			right: -40px;
			border-radius: 10px;
			color: white;
		}

		&:hover {
			background-color: rgba(190, 190, 190, 0.3);
		}

		&:active {
			background-color: rgba(190, 190, 190, 0.723);
		}
	}

	.search__from_autocomplete {
		// Styles for this class are in global styles.scss
	}
}
