<form class="search__form">
  <input
    type="text"
    placeholder="Pick one"
    aria-label="Number"
    matInput
    placeholder="Введите вашу проблему"
    class="search__form_input"
    (keyup.enter)="search()"
    [formControl]="searchQuery"
    [matAutocomplete]="auto"
  />
  <mat-autocomplete #auto="matAutocomplete" 
  class="search__from_autocomplete">
    <mat-option
      *ngFor="let option of filteredResults | async | slice : 0 : 4"
      [value]="option.title"
      (click)="goToArticle(option._id!)"
    >
      <span class="search__from_autocomplete_title">
        {{ option.title }} 
      </span>
      <span class="search__from_autocomplete_category">
        <mat-icon>chevron_right</mat-icon>
        {{ option.category }}
      </span>
    </mat-option>
  </mat-autocomplete>
  <mat-icon class="search__form_btn search-btn" (click)="search()"
    >search</mat-icon>
  <mat-icon class="search__form_btn filter-btn" [matMenuTriggerFor]="menu"
    >filter_alt</mat-icon>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      *ngFor="let option of filterOptions"
      [value]="option"
      (click)="$event.stopPropagation()"
    >
      <mat-checkbox
        class="example-margin"
        [checked]="option.status"
        (change)="option.status = !option.status"
      >
        {{ option.title }}
      </mat-checkbox>
    </button>
  </mat-menu>
</form>
