
.search__form {
	width: 100%;
	position: relative;

	.search__form_input {
		// margin-left: 20px;
		width: 100%;
		// width: 
		padding: 0 10px;
		box-sizing: border-box;
		border-radius: 10px;
		border: none;
		height: 30px;
	}

	.search__form_btn {
		position: absolute;
		right: 0px;
		height: 27px;
		width: 32px;
		padding: 3px 0 0 5px;
		border-radius: 0 10px 10px 0;
		transition: 0.2s;
		cursor: pointer;

		&:hover {
			background-color: rgba(190, 190, 190, 0.3);
		}
		
		&:active {
			background-color: rgba(190, 190, 190, 0.723);
		}
	}
}