
.search__form {
	width: calc(100% - 36px);
	position: relative;

	.search__form_input {
		width: 100%;
		padding: 0 0 0 45px;
		box-sizing: border-box;
		border-radius: 40px;
		border: none;
		outline: none;
		height: 40px;
		background: #eff3f6;
		font-weight: 600;
	}

	.search__form-btn {
		position: absolute;
		height: 40px;
		width: 40px;
		padding: 5px 5px 0 5px;
		border-radius: 40px;
		font-size: 24px;
		border: none;
		background: none;
		transition: 0.2s;
		cursor: pointer;

		&:hover {
			background-color: rgba(190, 190, 190, 0.3);
		}

		&:active {
			background-color: rgba(190, 190, 190, 0.723);
		}
	}

	.search__form-btn_search {
		left: 0;
		color: #7f7e7d;
	}

	.search__form-btn_filter {
		right: 0;
		color: #4e4d4d;
	}

	.search__from_autocomplete {
		// Styles for this class are in global styles.scss
	}
}
