<div class="modal-task">
	<div class="modal-task__close" (click)="onNoClick()">
		<mat-icon>close</mat-icon>
	</div>
	<div class="modal-task__title" [formGroup]="taskData">
		<h2 *ngIf="!headerTrigger"
			(click)="headerTrigger = !headerTrigger">
			{{taskData.value.title}}
	</h2>
		<input *ngIf="headerTrigger"
			   formControlName="title"
			   (keyup.enter)="changetitle()"
			   >
		<div class="modal-task__title_status"
			 [ngStyle]="{'background': 
			 taskData.value.status == 'In progress' ? 
			 '#FFB84B' : 
			 taskData.value.status == 'Todo' ? 
			 '#FFB5B5' : '#4BFF69'}"
			 [matMenuTriggerFor]="statusMenu"
		>
			<p>{{taskData.value.status}}</p>
		</div>
		<mat-menu #statusMenu="matMenu">
			<button mat-menu-item 
					*ngFor="let status of statusVariants"
					(click)="changeStatus(status)"
					[ngStyle]="{'color': taskData.value.status == status ? 'orange' : 'black'}">
						{{status}}
			</button>
		</mat-menu>
	</div>
	<div class="modal-task__status">
		<mat-icon>checklist</mat-icon>
		<p [matMenuTriggerFor]="tableMenu">{{taskData.value.column}}</p>
		<mat-menu #tableMenu="matMenu">
			<button mat-menu-item 
					*ngFor="let column of columns"
					(click)="changeColumn(column.title)"
					value={{column.title}}
					[ngStyle]="{'color': taskData.value.column == column.title ? 'orange' : 'black'}">
						{{column.title}}
			</button>
		</mat-menu>
	</div>
	<!-- <div class="modal-task__description">
		<mat-icon>description</mat-icon>
		<p>{{mockTaskData.value.description}}</p>
	</div> -->
	<div class="modal-task__text" [formGroup]="taskData">
		<div formGroupName="text"
			 class="modal-task__text_wrp"
			 *ngFor="let item of taskData.value.text; let i = index">
			<mat-icon [matMenuTriggerFor]="menu" class="more">more_vert</mat-icon>
			<mat-menu #menu="matMenu">
				<button mat-menu-item 
						*ngFor="let option of typeOptions"
						(click)="changeType(option, i)"
						[ngStyle]="{'color': item.type == option.type ? 'orange' : 'black'}">
							{{option.name}}
						</button>
			</mat-menu>
			<div class="modal_task__text_icon">
				<div *ngIf="item.type.length <= 0">
					<!-- <mat-icon>description</mat-icon> -->
				</div>
				<div *ngIf="item.type == 'todo'"
					 class="todo"
					 (click)="[item.value = item.value == 'true' ? 'false' : 'true', this.updateTaskData()]">
					<mat-icon *ngIf="item.value == 'true'">check_box</mat-icon>
					<mat-icon *ngIf="item.value == 'false'">check_box_outline_blank</mat-icon>
				</div>
				<div *ngIf="item.type == 'ul'">
					●
				</div>
			</div>
			
			<div *ngIf="!inputTrigger"
				 (click)="inputTrigger = !inputTrigger"
				 class='modal-task__text_input_disabled'
				 [ngClass]="{'custom-done': item.type == 'todo' && item.value == 'true'}"
				>
					{{item.text}}
				
			</div>
			<input class='modal-task__text_input' 
			   type='text'
			   value={{item.text}} 
			   *ngIf="inputTrigger"
			   name="inputTask"
			   (keyup.enter)="addText($event, i)"
			   (keyup.Delete)="deleteString(i)"
			>
		</div>
		<div class="modal-task__text_wrp">
			<mat-icon [matMenuTriggerFor]="addMenu" class="more">more_vert</mat-icon>
			<mat-menu #addMenu="matMenu">
				<button mat-menu-item 
						*ngFor="let option of typeOptions"
						(click)="changeType(option, -1)"
						[ngStyle]="{'color': createOption.type == option.type ? 'orange' : 'black'}">
							{{option.name}}
						</button>
			</mat-menu>
			<div class="modal_task__text_icon">
				<mat-icon>add</mat-icon>
			</div>
			<input class='modal-task__text_input_new' 
			   	   type='text'
			       name="inputTask"
			       (keyup.enter)="addText($event, -1)"
			>
		</div>
		
	</div>
	<div class="modal-task__assignee">
		<div class="modal-task__assignee_line"></div>
		<div class="person-wrapper">
			<div class="modal-task__assigne_person" 
			 *ngFor="let person of taskData.value.assignee; let i = index">
				<img class="modal-task__assigne_person_avatar" *ngIf="!!person.avatar" [src]="person.avatar" alt="user pic" />
				<img class="modal-task__assigne_person_avatar" *ngIf="!person.avatar" src="assets/user-pic.jpeg" alt="user pic" />
				<div class="modal-task__assigne_person_name"
				[matMenuTriggerFor]="assigneeMenu">
					{{person}}
				</div>
				<mat-menu #assigneeMenu="matMenu">
					<button mat-menu-item
							(click)="removeAssignee(i)">
						Убрать исполнителя
					</button>
				  </mat-menu>
			</div>
			<div *ngIf="taskData.value.assignee.length <= 0" class="modal-task__assigne_none">
				Исполнителей нет
			</div>
			<div class="modal-task__assignee_add">
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Username</mat-label>
					<input type="text"
						   matInput
						   [formControl]="searchAssigneeQuery"
						   [matAutocomplete]="auto">
					<mat-autocomplete #auto="matAutocomplete">
					  	<mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="addAssignee(option)">
							{{option}}
					  	</mat-option>
					</mat-autocomplete>
				</mat-form-field>
			</div>
		</div>
		
	</div>
</div>

