<div class="modal-task" [formGroup]="taskData">
	<div class="modal-task__header">
		<div class="modal-task__header_btns">
			<div class="modal-task__header_btns_wrp">
				<button class="link" (click)="urlCopy()">
					<mat-icon>share</mat-icon>
				</button>
				<button class="link">
					<mat-icon>label</mat-icon>
				</button>
				<button class="link">
					<mat-icon>person</mat-icon>
				</button>
				<button class="link">
					<mat-icon>more_horiz</mat-icon>
				</button>
			</div>
			<div class="modal-task__header_btns_wrp">
				<button class="link">
					<mat-icon>edit</mat-icon>
				</button>
				<button class="link">
					<mat-icon>delete</mat-icon>
				</button>
			</div>
		</div>
		<div class="modal-task__header_creation">
			<div>Created at {{taskData.value.dateCreated}}</div>
			<div>Updated at {{taskData.value.dateUpdated}}</div>
		</div>
		<div class="modal-task__header_title">
			<h2 *ngIf="!headerTrigger"
			(click)="headerTrigger = !headerTrigger">
				{{taskData.value.title}}
			</h2>
			<input *ngIf="headerTrigger"
				formControlName="title"
				(keyup.enter)="changeTitle()"
			>
		</div>
		
	</div>
	<div class="modal-task__sidebar">
		<div class="modal-task__sidebar_info">
			<div class="task-info">
				<div class="task-info__edit"
					 (click)="editSidebar()">
					<mat-icon *ngIf="!sidebarEditTrigger">edit</mat-icon>
					<mat-icon *ngIf="sidebarEditTrigger">save</mat-icon>
				</div>
				<table>
					<tr>
						<td>проект</td>
						<td>WH School</td>
					</tr>
					<tr>
						<td>Приоритет</td>
						<td *ngIf="!sidebarEditTrigger">{{taskData.value.priority}}</td>
						<td *ngIf="sidebarEditTrigger"
							class="tr-menu"
							[matMenuTriggerFor]="priorityMenu"
						>
						<p>
							{{taskData.value.priority}}
							<mat-icon>expand_more</mat-icon>
						</p></td>
						<mat-menu #priorityMenu="matMenu">
							<button mat-menu-item
								*ngFor="let priority of priorityVariants"
								(click)="taskData.value.priority = priority">
								{{priority}}
							</button>
						</mat-menu>
					</tr>
					<tr>
						<td>Статус</td>
						<td *ngIf="!sidebarEditTrigger">{{taskData.value.status}}</td>
						<td *ngIf="sidebarEditTrigger"
							class="tr-menu"
							[matMenuTriggerFor]="statusMenu"
						><p>
							{{taskData.value.status}} 
							<mat-icon>expand_more</mat-icon>
						</p></td>
						<mat-menu #statusMenu="matMenu">
							<button mat-menu-item
								*ngFor="let status of statusVariants"
								(click)="taskData.value.status = status">
								{{status}}
							</button>
						</mat-menu>
					</tr>
					<tr>
						<td>Ответственные</td>
						<td *ngIf="!sidebarEditTrigger">
							<p>
								{{taskData.value.assignee[0]}}
								<mat-icon *ngIf="taskData.value.assignee.length > 1"
										(click)="showAndEditAssignee(false)"
										class="tr-more"
								>more_vert</mat-icon>
							</p>
						</td>
						<td *ngIf="sidebarEditTrigger">
							<p>
								{{taskData.value.assignee[0]}}
							<mat-icon (click)="showAndEditAssignee(true)"
							class="tr-more"
							>person_add</mat-icon>
							</p>
						</td>
					</tr>
					<tr>
						<td>Готовность</td>
						<td>80%</td>
					</tr>
					<tr>
						<td>Выделено дней</td>
						<td>90 days</td>
					</tr>
				</table>
			</div>
			<table class="task-subinfo">
				<tr>
					<td>Board</td>
					<td class="tr-menu"
						[matMenuTriggerFor]="boardMenu"
					><p>
						{{taskData.value.board}} 
						<mat-icon>expand_more</mat-icon>
					</p></td>
						<mat-menu #boardMenu="matMenu">
							<button mat-menu-item
								*ngFor="let board of boards"
								(click)="[taskData.value.boardId = board.id, taskData.value.board = board.title]">
								{{board.title}}
							</button>
						</mat-menu>
				</tr>
			</table>
		</div>
	</div>
	<div class="modal-task__data">
		<div class="modal-task__data_files">
			<div *ngIf="!fileUploaded" class="modal-task__data_files_label">
				<mat-icon>attach_files</mat-icon>
				Drop your files here
			</div>
			<div *ngIf="fileUploaded"  class="modal-task__data_files_label added">
				Загружено!
			</div>
			<input type="file" multiple (change)="fileInputChange(fileInput)" #fileInput>
		</div>
		<mat-tab-group>
			<mat-tab label="Описание">
				<div class="modal-task__data_description"
				>
					<div formGroupName="text"
					class="text_wrp"
					*ngFor="let item of taskData.value.text; let i = index">
						<mat-icon [matMenuTriggerFor]="menu" class="more">more_vert</mat-icon>
						<mat-menu #menu="matMenu">
							<button mat-menu-item 
								*ngFor="let option of typeOptions"
								(click)="changeType(option, i)"
								[ngStyle]="{'color': item.type == option.type ? 'orange' : 'black'}">
									{{option.name}}
							</button>
						</mat-menu>
						<div class="text_icon">
							<div *ngIf="item.type.length <= 0">
							</div>
							<div *ngIf="item.type == 'todo'"
								class="todo"
								(click)="[item.value = item.value == 'true' ? 'false' : 'true', this.updateTaskData()]">
								<mat-icon *ngIf="item.value == 'true'">check_box</mat-icon>
								<mat-icon *ngIf="item.value == 'false'">check_box_outline_blank</mat-icon>
							</div>
							<div *ngIf="item.type == 'ul'">
								●
							</div>
						</div>
					
						<div *ngIf="!inputTrigger"
							(click)="inputTrigger = !inputTrigger"
							class='text_input_disabled'
							[ngClass]="{'custom-done': item.type == 'todo' && item.value == 'true'}"
							>
								{{item.text}}
							
						</div>
						<input class='text_input' 
								type='text'
								value={{item.text}} 
								*ngIf="inputTrigger"
								name="inputTask"
								(keyup.enter)="addText($event, i)"
								(keyup.Delete)="deleteString(i)"
						>
					</div>
					<div class="text_wrp">
						<mat-icon [matMenuTriggerFor]="addMenu" class="more">more_vert</mat-icon>
						<mat-menu #addMenu="matMenu">
							<button mat-menu-item 
									*ngFor="let option of typeOptions"
									(click)="changeType(option, -1)"
									[ngStyle]="{'color': createOption.type == option.type ? 'orange' : 'black'}">
										{{option.name}}
									</button>
						</mat-menu>
						<div class="text_icon">
							<mat-icon>add</mat-icon>
						</div>
						<input class='text_input_new' 
							type='text'
							name="inputTask"
							(keyup.enter)="addText($event, -1)"
						>
					</div>
				</div>
			</mat-tab>
			<mat-tab label="Комментарии">
				<div class="modal-task__data_comments">

				</div>
			</mat-tab>
			<mat-tab *ngIf="inputFile.length > 0" label="Приложения">

			</mat-tab>
			<mat-tab *ngIf="inputFile.length == 0" label="Приложения" disabled>
			</mat-tab>
		  </mat-tab-group>

		
	</div>
	
</div>


	<!-- <div class="modal-task__close" (click)="onNoClick()">
		<mat-icon>close</mat-icon>
	</div>
	<div class="modal-task__title" [formGroup]="taskData">
		<h2 *ngIf="!headerTrigger"
			(click)="headerTrigger = !headerTrigger">
			{{taskData.value.title}}
	</h2>
		<input *ngIf="headerTrigger"
			   formControlName="title"
			   (keyup.enter)="changeTitle()"
			   >
		<div class="modal-task__title_status"
			 [ngStyle]="{'background': 
			 taskData.value.status == 'In progress' ? 
			 '#FFB84B' : 
			 taskData.value.status == 'Todo' ?
			 '#FFB5B5' : '#4BFF69'}"
			 [matMenuTriggerFor]="statusMenu"
		>
			<p>{{taskData.value.status}}</p>
		</div>
		<mat-menu #statusMenu="matMenu">
			<button mat-menu-item 
					*ngFor="let status of statusVariants"
					(click)="changeStatus(status)"
					[ngStyle]="{'color': taskData.value.status == status ? 'orange' : 'black'}">
						{{status}}
			</button>
		</mat-menu>
	</div>
	<div class="modal-task__status">
		<mat-icon>checklist</mat-icon>
		<p [matMenuTriggerFor]="tableMenu">{{taskData.value.column}}</p>
		<mat-menu #tableMenu="matMenu">
			<button mat-menu-item 
					*ngFor="let column of columns"
					(click)="changeColumn(column)"
					value={{column.title}}
					[ngStyle]="{'color': taskData.value.column == column.title ? 'orange' : 'black'}">
						{{column.title}}
			</button>
		</mat-menu>
	</div>
	<div class="modal-task__text" [formGroup]="taskData">
		<div formGroupName="text"
			 class="modal-task__text_wrp"
			 *ngFor="let item of taskData.value.text; let i = index">
			<mat-icon [matMenuTriggerFor]="menu" class="more">more_vert</mat-icon>
			<mat-menu #menu="matMenu">
				<button mat-menu-item 
						*ngFor="let option of typeOptions"
						(click)="changeType(option, i)"
						[ngStyle]="{'color': item.type == option.type ? 'orange' : 'black'}">
							{{option.name}}
						</button>
			</mat-menu>
			<div class="modal_task__text_icon">
				<div *ngIf="item.type.length <= 0">
				</div>
				<div *ngIf="item.type == 'todo'"
					 class="todo"
					 (click)="[item.value = item.value == 'true' ? 'false' : 'true', this.updateTaskData()]">
					<mat-icon *ngIf="item.value == 'true'">check_box</mat-icon>
					<mat-icon *ngIf="item.value == 'false'">check_box_outline_blank</mat-icon>
				</div>
				<div *ngIf="item.type == 'ul'">
					●
				</div>
			</div>
			
			<div *ngIf="!inputTrigger"
				 (click)="inputTrigger = !inputTrigger"
				 class='modal-task__text_input_disabled'
				 [ngClass]="{'custom-done': item.type == 'todo' && item.value == 'true'}"
				>
					{{item.text}}
				
			</div>
			<input class='modal-task__text_input' 
			   type='text'
			   value={{item.text}} 
			   *ngIf="inputTrigger"
			   name="inputTask"
			   (keyup.enter)="addText($event, i)"
			   (keyup.Delete)="deleteString(i)"
			>
		</div>
		<div class="modal-task__text_wrp">
			<mat-icon [matMenuTriggerFor]="addMenu" class="more">more_vert</mat-icon>
			<mat-menu #addMenu="matMenu">
				<button mat-menu-item 
						*ngFor="let option of typeOptions"
						(click)="changeType(option, -1)"
						[ngStyle]="{'color': createOption.type == option.type ? 'orange' : 'black'}">
							{{option.name}}
						</button>
			</mat-menu>
			<div class="modal_task__text_icon">
				<mat-icon>add</mat-icon>
			</div>
			<input class='modal-task__text_input_new' 
			   	   type='text'
			       name="inputTask"
			       (keyup.enter)="addText($event, -1)"
			>
		</div>
		<button class="modal-task__text__btn-delete" mat-raised-button color="warn" (click)="deleteTask(taskData.value.id)">Delete task</button>
	</div>
	<div class="modal-task__assignee">
		<div class="modal-task__assignee_line"></div>
		<div class="person-wrapper">
			<div class="modal-task__assigne_person" 
			 *ngFor="let person of taskData.value.assignee; let i = index">
				<img class="modal-task__assigne_person_avatar" *ngIf="!!person.avatar" [src]="person.avatar" alt="user pic" />
				<img class="modal-task__assigne_person_avatar" *ngIf="!person.avatar" src="assets/user-pic.jpeg" alt="user pic" />
				<div class="modal-task__assigne_person_name"
				[matMenuTriggerFor]="assigneeMenu">
					{{person}}
				</div>
				<mat-menu #assigneeMenu="matMenu">
					<button mat-menu-item
							(click)="removeAssignee(i)">
						Убрать исполнителя
					</button>
				  </mat-menu>
			</div>
			<div *ngIf="taskData.value.assignee.length <= 0" class="modal-task__assigne_none">
				Исполнителей нет
			</div>
			<div class="modal-task__assignee_add">
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Username</mat-label>
					<input type="text"
						   matInput
						   [formControl]="searchAssigneeQuery"
						   [matAutocomplete]="auto">
					<mat-autocomplete #auto="matAutocomplete">
					  	<mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="addAssignee(option)">
							{{option}}
					  	</mat-option>
					</mat-autocomplete>
				</mat-form-field>
			</div>
		</div>
		
	</div> -->
<!-- </div> -->

