@import url('./normalize.scss');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;600&display=swap');

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

* {
  box-sizing: border-box;
}

.root {
  background-color: #fff;
  margin: 0 auto;
  font-family: "system", sans-serif;

  // Чтобы послать шрифты материала! Не трогать!
  h1, h2, h3 {
    font-family: "system", sans-serif;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.mat-dialog-container {
  background-color: #fff;
  border-radius: 15px !important;
}

.create-article__editor {
  .angular-editor-textarea {
    &:focus{
      border: 1px solid #7b1fa2 !important;
    }
  }
}

.search__from_autocomplete {
  width: calc(100% - 40px)!important;
  background: white!important;
  margin: 0 auto;
  box-shadow: 0px 4px 4px 3px rgba(34, 60, 80, 0.2)!important;

  .mat-option {
    background: white!important;
    color: black!important;
    position: relative!important;

    .search__from_autocomplete_category {
      position: absolute!important;
      color: grey!important;
      right: 0!important;
      margin-right: 5px!important;
      padding-left: 10px!important;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 10px, rgb(255, 255, 255) 100%);


      mat-icon {
        margin: 0!important;
      }

      // @media (max-width: 768px) {
      //   display: none;
      // }
    }

    .search__from_autocomplete_category-div {
      display: none;
    }

    @media (max-width: 768px) {
      height: 96px;
      display: flex;
      text-align: left;

      .search__from_autocomplete_category {
        display: none;
      }

      .search__from_autocomplete_category-div {
        display: block;
        color: grey!important;
        text-align: top;
      }
    }

    
  }
}

.modal-task-global {
  mat-dialog-container {
    padding: 0;
  }
}
