@import url('./normalize.scss');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;600&display=swap');

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  box-sizing: border-box;
}

.root {
  background-color: #fff;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.mat-dialog-container {
  background-color: #fff;
  border-radius: 15px !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.create-article__editor {
  .angular-editor-textarea {
    &:focus{
      border: 1px solid #7b1fa2 !important;
    }
  }
}
