.form {
  background-color: #fff;
  color: rgba(15, 14, 14, 0.75);
  max-height: 90%;

  .form__label {
    margin: 10px 5px;
    font-size: 20px;
  }

  .form__userCode,
  .form__userName,
  .form__description {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }

  .form__header {
    display: flex;
    justify-content: space-between;
    border-radius: 50%;
  }

  .form__title {
    font-size: 32px;
  }

  .form__close {
    background: linear-gradient(90deg, #c24eb6, #8d4686, #680f69);
    color:#fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    font-size: xx-small;
    cursor: pointer;
  }

  .form__close:hover {
    outline: 3px solid #fb02ff;
  }

  .form__message,
  .form__input {
    border: 2px solid rgba(80, 78, 78, 0.75);
    width: 100%;
    border-radius: 5px;
  }

  .form__message {
    width: 100%;
    height: 40%;
  }
  .form__input {
    height: 30px;
  }

  .mat-button {
    background: linear-gradient(90deg, #c24eb6, #8d4686, #680f69);
    margin-top: 10px;
    font-size: 22px;
    padding: 8px;
    cursor: pointer;
    color: #fff;
    &:hover {
      outline: 3px solid #fb02ff;
    }
  }

  .mat-button:disabled{
    color: #ababab;
  }
}
