<form class="form" [formGroup]="feedback">
  <div class="form__header">
    <h2>Форма обратной связи</h2>
    <button class="close" mat-dialog-close><mat-icon>close</mat-icon></button>
  </div>
  <div class="form__container">
    <div class="userName">
      <label for="name" class="form__label"> Имя: </label>
      <input type="text" formControlName="userName" class="form__input"/>
      <mat-error
        class="error"
        *ngIf="feedback.get('userName')?.getError('required') || feedback.get('userName')?.getError('dirty')"
      >
        Введите ваше имя</mat-error
      >
    </div>
    <div class="userId">
      <label for="userId" class="form__label"> Код работника: </label>
      <input type="text" formControlName="userId" class="form__input"/>
      <mat-error
        class="error"
        *ngIf="feedback.get('userId')?.getError('required') || feedback.get('userId')?.getError('dirty')"
      >
        Введите свой код работника</mat-error
      >
    </div>
    <label for="message" class="form__label">Сообщение(минимум 10 символов):</label>
    <textarea class="form__message" cols="30" rows="10" required></textarea>
  </div>
  <button mat-button [disabled]="feedback.invalid">Отправить</button>
</form>
